body {
  margin: 0;
  font-family:  'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Montserrat', sans-serif;
  src:local('Montserrat'),
  url("./assets//fonts/Montserrat-Regular.ttf") format("truetype");
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
